name: Deploy to GitHub Pages

on:
  push:
    branches: ['main']

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout web app
        uses: actions/checkout@v4

      - name: Checkout turbomesh repo
        uses: actions/checkout@v4
        with:
          repository: pascalPost/turbomesh
          path: turbomesh

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: '0.15.2'

      - name: Build turbomesh
        working-directory: turbomesh
        run: |
          zig build -Dtarget=wasm32-freestanding -Doptimize=ReleaseSmall
          cp zig-out/bin/turbomesh.wasm "$GITHUB_WORKSPACE/static"

      - name: Copy turbomesh TS sdk
        working-directory: turbomesh
        run: |
          cp web/sdk.ts "$GITHUB_WORKSPACE/src/lib/turbomesh.ts"

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25.3.0

      - name: Install dependencies
        run: npm i

      - name: Build web app
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'
        run: |
          npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/'

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
